html, body {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.carousel {
  width: 100%;
  margin: auto;
  position: relative;
}

.carousel-item {
  display: none;
}

.carousel-item--visible {
  display: block;
  animation: fadeIn 0.5s;
}

.prev, .next {
  border-radius: 100px;
  font-size: 1.5rem;
  border: none;
  background: #fff;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.prev {
  left: 2%;
}

.next {
  right: 2%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}